<link rel="stylesheet" href="css/dashboard.css" type="text/css">
<div class="nav">
    <nav class="myNavbar">
        <div class="title">Kuma</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="links">
            <ul>
                <li class="profileNav"><a href="#">Profile</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
   
<!-- Community Posts  -->
<!--
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="post-container">
            <h1>Community</h1>
            <p id="headline">Find some local friends for your dog!</p>
        </div>
    </div>  
</div>
-->

<!-- Lorem Ipsum-->
<div class="container cont">
    <div class="row">
        {{#each dogs}}
        <div class="col">
            <div class="dogProfile">
                <h1 class="dogName" id={{dataValues.id}}><a>{{dataValues.pet_name}}</a></h1>
                <div class="stats">{{dataValues.breed}}</div>
                <div class="stats">Age: {{dataValues.age}}</div>
                <div class="stats">Gender: <span class="gender">{{dataValues.pet_gender}}</span></div>
                <div class="stats">Energy: {{dataValues.pet_energy}}</div>
                <div class="stats">{{dataValues.pet_personality}}</div>
                <!--<p id="email">Contact: {{Users.[0].dataValues.email}}</p>-->
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/dashboard.js" type="text/javascript"></script> 