<link rel="stylesheet" href="/css/profile.css" type="text/css">
<div class="nav">
    <nav class="myNavbar">
        <div class="title">Kuma</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="links">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="cont">
    <div class="center">
        <div class="pet-avatar">
            <!-- Placeholder Image -->
            <img id="profile-picture" src="../image/Kuma.png" alt="">
        </div>
        <div class="content">
            <h1 id="pet-name">{{Profiles.[0].dataValues.pet_name}}</h1>
            <h3 id="breed">Breed: {{Profiles.[0].dataValues.breed}}</h3>
            <h3 id="age">Age: {{Profiles.[0].dataValues.age}}</h3>
            <h3 id="pet-gender">Gender: {{Profiles.[0].dataValues.pet_gender}}</h3>
            <h3 id="pet-fixed">Spay/Neuter: {{Profiles.[0].dataValues.pet_fixed}}</h3>
            <h3 id="pet-energy">Energy Level: {{Profiles.[0].dataValues.pet_energy}}</h3>
            <h3 id="micro-chip">Tracking Chip: {{Profiles.[0].dataValues.micro_chip}}</h3>
            <h3 id="vet-clinic">Physician: {{Profiles.[0].dataValues.vet_clinic}}</h3>
            <h3 id="pet-personality">Personality Type: {{Profiles.[0].dataValues.pet_personality}}</h3>
            <p id="bio"> {{Profiles.[0].dataValues.bio}}</p>
            <h3 id="username">Owner: {{Users.[0].dataValues.username}}</h3>
            <h3 id="email">Contact: {{Users.[0].dataValues.email}}</h3>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/profile.js"></script>
